body {
    font-size: 15px;
}
.division-logo {
    max-width: 600px;
}
#mainbody:after {
    clear: both;
    content: '';
    display: block;
}
#title-bar {
    background-color: #2A71A5;
}

#title {
    font-size: 1.3em;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
#input {
    max-width: 500px;
}
#prediction-input {
    max-width: 560px;
}

.well {
    margin: 0px;
}
.well ~ .well {
    margin-top: 20px;
}
#input label {
    display: inline-block;
    vertical-align: middle;
    width: 140px;
}
#input label ~ * {
    display: inline-block;
    vertical-align: middle;
    width: 255px;
}
#input label ~ button {
    width: 100%;
}
#input label ~ [type="checkbox"] {
    width: auto;
}
#input fieldset:last-child {
    margin-top: 20px;
    text-align: center;
}
#effectsSet [type="checkbox"]:not(:checked) ~ button,
#referencesSet [type="checkbox"]:not(:checked) ~ button {
    display: none;
}
#effectsSet:not(.show),
#categoricalGroups:not(.show)
{
    /*display: none;*/
}

#output,
#prediction-output {
    overflow: auto;
    min-height: 774px;
    border: thin solid lightgray;
}

#prediction-output {
    min-height: 488px;
}

#output p,
#prediction-output p {
    padding: 10px 10px;
}

#output h4 {
    margin: 0px;
}
.nav {
    /*margin: 0px 15px;*/
}
.nav li a {
    color: #666;
}
.tab-content {
    border: solid #ddd;
    border-radius: 0px 0px 4px 4px;
    border-width: 0px 1px 1px 1px;
    margin: 0px 15px;
}
#output .panel-group {
    padding: 15px;
}
#output .panel-heading {
    cursor: pointer;
}
.collapse {
    overflow: auto;
}
table {
    width: 100%;
}
table th {
    border-bottom: 1px solid #000;
}
table th,
table td {
    padding: 6px 12px;
}
table select {
    width: 100%;
    min-width: 172px;
}
table th:last-child,
table td:last-child {
    text-align: center;
    width: 3em;
}
table tfoot tr:first-child {
    border-top:1px solid #000;
}
table tfoot tr:nth-child(odd) {
    background: #f9f9f9;
}
.glyphicon {
    top: 0px;
}
button[disabled],
input[disabled],
[disabled] {
    cursor: not-allowed;
}
@media (max-width: 960px) {
    #input,
    #prediction-input {
        float: none;
        margin-right: 15px;
        max-width: 100%;
    }
    #output {
        margin-top: 15px;
    }
}
@media (max-width: 540px) {
    #input,
    #prediction-input{
        margin: 0px;
    }
    #output {
        margin: 15px 0px 0px;
    }
}
@media (max-width: 360px) {
    .well {
        padding: 0px;
    }
    .well .well {
        padding: 15px;
    }
}
h2.stage-header {
  font-weight:bold;
  font-style:normal;
  padding:0px;
  margin-top:-15px;
  font-size: 14px;
}

#result-buttons a,
#dropdown-button button{
    margin-top: 10px;
}

#navigation-bar {
    background-color: lightgray;
    margin-bottom: 20px;
    width: 100%;
    font-weight: bold;
}

#result-buttons {
    padding-left: 15px;
}

.submitButtons {
    margin-top: 15px;
}

#dropdown-button {
    display: inline-block;
}
