body {
    font-size: 15px;
}

header {
    margin-top: 0;
}
.division-logo {
    max-width: 600px;
}
#mainbody:after {
    clear: both;
    content: '';
    display: block;
}
#title-bar {
    background-color: #2971A5;
    letter-spacing: 1px;
}

#title {
    font-size: 1.3em;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
}
.highlighted-title {
    color: #FFC90E
}

.navbar {
    border: none;
}

.navbar li a {
    background-image: none;
}

#navigation-bar {
    background-image: none;
    background-color: #2A303F;
    margin-bottom: 20px;
    width: 100%;
    font-weight: bold;
    border-radius: 0;
    letter-spacing: 1px;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a {
    color: white;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a {
    background-image: none;
    background-color: #FFC90E;
    color: #00143E;
    text-transform: uppercase;
}

.well {
    margin: 0px;
    background-color: #f8f8f8;
    background-image: none;
}
.well ~ .well {
    margin-top: 10px;
}

#input label ~ button {
    width: 100%;
}
#input label ~ [type="checkbox"] {
    width: auto;
}

#input .fieldset:last-child {
    margin-top: 20px;
}
.fieldset.well .form-group {
    margin-bottom: 10px;
}
#designAndModelSet,
fieldset.well,
.fieldset.well {
    margin-left: -5px;
    margin-right: -5px;
    padding: 10px 15px 10px 15px;
}

#effectsSet [type="checkbox"]:not(:checked) ~ button,
#referencesSet [type="checkbox"]:not(:checked) ~ button {
    display: none;
}
#effectsSet:not(.show),
#categoricalGroups:not(.show)
{
    /*display: none;*/
}

#calculationForm {
    min-height: 857px;
}

#predictionForm {
    height: 967px;
}

#timePointsLegend {
    display: inline-block;
    border: none;
    text-align: left;
    font-size: 15px;
    vertical-align: bottom;
    font-weight: bold;
    padding-top: 7px;
    padding-left: 20px;
    margin-bottom: 0;
}

#fittingResultPanel,
#output p,
#results p{
    border: thin solid lightgray;
}
#output p,
#results p{
    overflow: auto;
}

#fittingResultPanel,
#output p {
    height: 855px;
    padding: 15px 15px;
}

#prediction-results,
#results p {
    height: 965px;
    padding: 15px 15px;
}

#prediction-results .table,
#fittingResultPanel .table {
    margin-bottom: 10px;
}

#fittingResults {
    height: 790px;
    overflow-y: auto;
}

#predictionResultTable {
    height: 95%;
    overflow-y: auto;
}

#output h4 {
    margin: 0;
    font-weight: bold;
}

#results .panel-body table thead tr:first-child,
#output .panel-body table tr:first-child {
    background-color: #dae3da;
}

#output .panel-body  {
    padding: 0;
}

#output .panel {
    border: none;
}

.nav {
    /*margin: 0px 15px;*/
}
.nav li a {
    color: #666;
}
.tab-content {
    border: solid #ddd;
    border-radius: 0px 0px 4px 4px;
    border-width: 0px 1px 1px 1px;
    margin: 0px 15px;
}
#output .panel-group {
    padding: 15px;
}
#output .panel-heading {
    cursor: pointer;
}
.collapse {
    overflow: auto;
}

#fittingResults table th:last-child,
#fittingResults table td:last-child {
    text-align: center;
    width: 20%;
}

#predictionResultTable table th,
#predictionResultTable table td {
    width: 14.28%;
    vertical-align: middle;
    text-align: center;
}

#fittingResultPanel .fitting-result-table th,
#fittingResultPanel .fitting-result-table td {
    width: 16.7%;
    vertical-align: middle;
    text-align: center;
}

#interactiveTable tbody td,
#interactiveTable tbody th,
#covariatesTable tbody td,
#covariatesTable tbody th {
    border: none;
    vertical-align: middle;
}

#interactiveTable .interactiveButton,
#interactiveTable tbody td,
#interactiveTable tbody th {
    padding-left: 18px;
}

#interactiveTable thead th,
#covariatesTable thead th {
    border-color: black;
    border-width: 1px;
}

#interactiveTable select,
#covariatesTable select {
    text-indent: 4px;
}

.interactiveSelect {
    width: 45%;
}

.interactiveSelect select{
    width: 100%;
}

.covariateHeader {
    width: 30%;
}

#covariatesTable .valueHeader {
    width: 35%;
    padding-left: 18px;
}

#prediction-results .sort-icon {
    margin-left: 5px;
}

.fas {
    color: gray;
}

button[disabled],
input[disabled],
[disabled] {
    cursor: not-allowed;
}
@media (max-width: 992px) {
    #input,
    #prediction-input {
        float: none;
        max-width: 100%;
    }
    #results,
    #output {
        margin-top: 15px;
    }
}
@media (max-width: 540px) {
    #input,
    #prediction-input{
        margin: 0px;
    }
    #results,
    #output {
        margin: 15px 0px 0px;
    }
}
@media (max-width: 360px) {
    .well {
        padding: 0px;
    }
    .well .well {
        padding: 15px;
    }
}
h2.stage-header {
  font-weight:bold;
  font-style:normal;
  padding:0px;
  margin-top:-15px;
  font-size: 14px;
}

#result-buttons {
    padding-left: 15px;
}

.submitButtons {
    margin-top: 15px;
}

#dropdown-button {
    display: inline-block;
}

#dropdown-button li a {
    text-align: left;
}

#timePointsError,
#email-error,
#covariates-error,
.error-message,
#mutex-error {
  color: red;
}

#timePointsError {
    padding-top: 7px;
    padding-left: 20px;
}

#covariates-selectize-label {
    visibility: collapse;
}

.modal-header {
    background-color: #2A71A5;
}

.modal-header,
.modal-header .close{
    color: white;
}

.modal-header .close{
    opacity: 0.9;
}

#queueMessage {
    color: darkgray;
    font-style: italic;
    font-size: 0.8em;
}

#enqueuedMessage {
    color: green;
    font-size: 1.5em;
}

.download-buttons {
    margin-bottom: 15px;
}

#currentPageNum {
    background-color: #218eb7;
    color: white;
}

.disabledPageNav,
.pageNav {
    padding: 2px 2px 2px 5px;
}

.disabledPageNav:hover,
.disabledPageNav {
    color: darkgray;
}

input[type=file] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

#testDataFileName,
#modelFileName,
#csvFileName {
    padding-top: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 0.9em;
    color: #707070;
}

#serverFileName {
    padding-top: 0;
}


.sampleDownload {
    font-size: 0.8em;
}

#predictionForm label,
#calculationForm label {
    text-align: left;
    padding-left: 5px;
    padding-right: 0;
}

#timePointsWell {
    min-height: 192px;
}

.popover {
    min-width: 100px;
    max-width: 70%;
}

.glyphicon-question-sign {
    color: #23527c;
    font-size: 80%;
}

#home-panel {
    min-height: 800px;
    padding-left: 10px;
    padding-right: 10px
}

#home-panel h2 {
    font-size: 24px;
}

#help-page {
    padding-left: 10px;
    padding-right: 10px;
}

#help-page table thead th {
    background-color: #f0f0f0;
}

#help-page .table-title {
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
}

#help-page div:not(:first-child) {
    margin-top: 40px;
}

#home-page h2,
#help-page h4,
#help-page h2,
#help-page h3 {
    color: #4A6E9B;
}

#help-page h2 {
    font-size: 24px;
}
#help-page h3 {
    font-size: 18px;
}
#help-page h4 {
    font-size: 16px;
}

#help-page table thead tr th{
    background-color: #4676c0;
    color: white;
}

#help-page .empty-cell {
    display: none;
}

#help-page #references ol li {
    margin-top: 10px;
}

#model-table tr th:nth-child(2),
#model-table tr td:nth-child(2) {
    width: 12.5%;
}

#model-table tr th:nth-child(3),
#model-table tr td:nth-child(3) {
    width: 17.5%;
}

#model-table tr th:first-child{
    width: 35%;
}

#model-table tr th:last-child{
    width: 35%;
}

#numMessages {
    font-size: 0.8em;
    padding: 7px 0 0 20px;
    color: #337ab7;
}

#jobQueueBox {
    padding-right: 0;
}

#serverFileName {
    margin-left: 20px;
}

#timePointsLabel {
    padding-right: 0;
}

#overlay{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .5;
    z-index: 1000;
}

.sampleDownloadContainer {
    font-style: italic;
}

/*
    Responsive design
 */


@media (max-width: 600px) {
    .sampleDownloadContainer .col-xs-6 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .time-points-radio {
        margin-left: 20px;
    }
}

@media (max-width: 840px) {
    #help-page table,
    #help-page img {
        max-width: 100%;
    }
}

@media(max-width: 993px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 1199px) {
    .form-control.btn {
        margin-bottom: 10px;
    }
    #results,
    #output {
        margin-top: 10px;
    }
}


@media (min-width: 768px) {
    .sampleDownloadContainer {
        padding-top: 7px;
    }
}

@media (min-width: 768px) and (max-width: 1199px){
    .form-horizontal .control-label {
        margin-bottom: 5px;
    }
    #numMessages {
        padding-top: 16px;
    }
}

@media (min-width: 994px) and (max-width: 1439px) {
.container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
    #submitSet,
    #buttonSet {
        margin-right: -5px;
    }

    .col-lg-3,
    .col-lg-4,
    .col-lg-6 {
        padding-right: 0;
    }

    .design-model-input {
        padding-right: 15px;
    }

    #main-tool #model-label {
        padding-left: 12px;
    }
    .sampleDownloadContainer {
        margin-left: 15px;
        padding-left: 0;
    }

    .sampleDownloadContainer .col-xs-6 {
        padding-left: 5px;
        padding-right: 0;
    }
}

@media (min-width: 1200px) and (max-width: 1250px) {
}

@media (min-width: 1200px) and  (max-width: 1302px) {
    #jobQueueBox,
    #numMessages {
        width: 100%;
        padding-top: 7px;
        padding-left: 15px;
    }
    #numMessages {
        padding-left: 20px;
    }

    #testDataLabel,
    #inputFileLabel {
        padding-right: 0;
    }
    .sampleDownloadContainer .col-xs-6 {
        width: 100%;
    }
}

@media (min-width: 1200px) and  (max-width: 1317px) {
    #jobQueueBox {
        padding-left: 10px;
    }
    #timpPointsInput {
        width: 72%
    }
    #timePointsLabel {
        width: 28%;
    }
}

@media (min-width: 1303px) and (max-width: 1439px) {
    #numMessages {
        padding-left: 5px;
        padding-top: 16px;
    }
}

@media (min-width: 1440px){
    .container {
        width: 1440px;
    }
    #numMessages {
        padding: 16px 15px 0 5px;
    }
}

