body {
    font-size: 15px;
}
.division-logo {
    max-width: 600px;
}
#mainbody:after {
    clear: both;
    content: '';
    display: block;
}
#title-bar {
    background-color: #2A71A5;
}

#title {
    font-size: 1.3em;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
}
#input {
    /*max-width: 500px;*/
}
#prediction-input {
    /*max-width: 560px;*/
}

.well {
    margin: 0px;
}
.well ~ .well {
    margin-top: 20px;
}

#input label ~ button {
    width: 100%;
}
#input label ~ [type="checkbox"] {
    width: auto;
}
#input fieldset:last-child {
    margin-top: 20px;
    text-align: center;
}
#effectsSet [type="checkbox"]:not(:checked) ~ button,
#referencesSet [type="checkbox"]:not(:checked) ~ button {
    display: none;
}
#effectsSet:not(.show),
#categoricalGroups:not(.show)
{
    /*display: none;*/
}

#output p,
#results p{
    overflow: auto;
    min-height: 872px;
    border: thin solid lightgray;
}

#results p{
    min-height: 515px;
}

#prediction-results {
    max-height: 580px;
    overflow-y: auto;
}

#output p,
#results p {
    padding: 10px 10px;
}

#output h4 {
    margin: 0px;
}
.nav {
    /*margin: 0px 15px;*/
}
.nav li a {
    color: #666;
}
.tab-content {
    border: solid #ddd;
    border-radius: 0px 0px 4px 4px;
    border-width: 0px 1px 1px 1px;
    margin: 0px 15px;
}
#output .panel-group {
    padding: 15px;
}
#output .panel-heading {
    cursor: pointer;
}
.collapse {
    overflow: auto;
}

table th:last-child,
table td:last-child {
    text-align: center;
    width: 20%;
}

.interactive-select {
    width: 45%;
}

.interactive-select select{
    width: 100%;
}

#interactive-table td,
#interactive-table th
{
    border: none;
}

.glyphicon {
    top: 0px;
}
button[disabled],
input[disabled],
[disabled] {
    cursor: not-allowed;
}
@media (max-width: 992px) {
    #input,
    #prediction-input {
        float: none;
        max-width: 100%;
    }
    #results,
    #output {
        margin-top: 15px;
    }
}
@media (max-width: 540px) {
    #input,
    #prediction-input{
        margin: 0px;
    }
    #results,
    #output {
        margin: 15px 0px 0px;
    }
}
@media (max-width: 360px) {
    .well {
        padding: 0px;
    }
    .well .well {
        padding: 15px;
    }
}
h2.stage-header {
  font-weight:bold;
  font-style:normal;
  padding:0px;
  margin-top:-15px;
  font-size: 14px;
}

#result-buttons a,
#dropdown-button button{
    margin-top: 10px;
}

#navigation-bar {
    background-color: lightgray;
    margin-bottom: 20px;
    width: 100%;
    font-weight: bold;
}

#result-buttons {
    padding-left: 15px;
}

.submitButtons {
    margin-top: 15px;
}

#dropdown-button {
    display: inline-block;
}

#error-message,
#mutex-error {
  color: red;
}

fieldset.well {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}

fieldset.well .form-group {
    margin: 0 0 15px 0;
}

.modal-header {
    background-color: #2A71A5;
}

.modal-header,
.modal-header .close{
    color: white;
}

.modal-header .close{
    opacity: 0.9;
}

#queueMessage {
    color: darkgray;
    font-style: italic;
    font-size: 0.6rem;
}

.download-buttons {
    margin-bottom: 15px;
}

#page-number {
    vertical-align: text-bottom;
}

input[type=file] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

#calculationForm label {
    text-align: left;
    padding-left: 5px;
    padding-right: 0;
}

@media(min-width: 1440px){
.container {
    width: 1440px;
  }
}

@media(max-width: 1439px) and (min-width: 994px){
.container {
    width: 98%;
  }
}


@media(max-width: 993px) {
    .container {
        width: 98%;
    }
}
