# AWS Configuration
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Mail settings
EMAIL_SMTP_HOST=mailfwd.nih.gov
EMAIL_ADMIN=
EMAIL_SENDER=
EMAIL_REPORT_URL=

# Folder settings
INPUT_DATA_PATH=/data/input
OUTPUT_DATA_PATH=/data/output

# S3 settings
S3_INPUT_BUCKET=
S3_OUTPUT_BUCKET=
S3_INPUT_FOLDER=pimixture/input/
S3_OUTPUT_FOLDER=pimixture/output/
S3_URL_EXPIRE_TIME=1209600

# SQS settings
SQS_QUEUE_NAME=
SQS_VISIBILITY_TIMEOUT=30
SQS_QUEUE_LONG_PULL_TIME=20

# R settings
R_FITTING_TIMEOUT=86400

# Output settings
OUTPUT_FILE_TYPE=EXCEL

# Log settings
LOG_LEVEL=INFO
