<div id="main-content"></div>
<form id="calculationForm" class="well form-horizontal" method="POST">
    <div id="fileSet" class="well fieldset">
        <div class="form-group">
            <div class="col-lg-4"><label class="control-label" for="jobName">Job Name </label> <a id="jobNamePopover" role="button" tabindex="0" class="glyphicon glyphicon-question-sign" aria-label="job name tooltip"></a></div>
            <div class="col-lg-8">
                <input type="text" id="jobName" name="jobName" placeholder="PIMixture" class="form-control" value="<%= data.jobName %>">
            </div>
        </div>
        <div class="form-group">
            <div id="inputFileLabel" class="col-xs-5 col-sm-3 col-md-4"><label id="csvFileLabel" class="control-label" for="csvFile">Input File <span class="text-danger">*</span></label> <a id="inputFilePopover" role="button" tabindex="0" class="glyphicon glyphicon-question-sign" aria-label="input file tooltip"></a></div>
            <div class="col-xs-7 col-sm-9 col-md-8 sampleDownloadContainer row">
                <div class="col-xs-6"><a href="files/Data_Unweighted.csv" download="Sample-dataset-unweighted.csv" class="sampleDownload">Unweighted Sample</a></div>
                <div class="col-xs-6"><a href="files/Data_Weighted.csv" download="Sample-dataset-weighted.csv" class="sampleDownload">Weighted Sample</a></div>
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 5px;">
            <div class="col-lg-3">
                <input id="csvFile" name="csvFile" type="file" accept=".csv" style="display:none;">
                <button id="csvFileBtn" type="button" class="btn btn-default btn-sm" onclick="document.getElementById('csvFile').click();" <%= data.csvFile.name ? 'disabled' : '' %>>Choose File</button>
            </div>
            <div class="col-lg-9">
                <div id="csvFileName"><%= data.csvFile.name || 'No file is chosen'%></div>
            </div>
        </div>
    </div>
    <div id="designAndModelSet" class="fieldset well form-group">
        <div class="form-group">
            <div class="col-lg-6">
                <label id="designLabel" class="control-label" for="design">Sample Design <span class="text-danger">*</span></label> <a id="designPopover" role="button" tabindex="0" class="glyphicon glyphicon-question-sign" aria-label="sample design tooltip"></a>
            </div>
            <div class="design-model-input col-lg-6">
                <select id="design" name="design" class="form-control" required <%= data.csvFile.name ? '' : 'disabled' %>>
                    <option value="">----Select Design---</option>
                    <option value="null" <%= data.design === null ? 'selected' : '' %>>Cohort (Unweighted)</option>
                    <option value="1" <%= data.design === 1 ? 'selected' : '' %>>Cohort (Weighted)</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-6" id="model-label">
                <label id="modelLabel" class="control-label" for="model">Regression Model <span class="text-danger">*</span></label> <a id="modelPopover" role="button" tabindex="0" class="glyphicon glyphicon-question-sign" aria-label="regression model tooltip"></a>
            </div>
            <div class="design-model-input col-lg-6">
                <select id="model" name="model" class="form-control" required <%= data.csvFile.name ? '' : 'disabled' %>>
                    <option value="">----Select Model----</option>
                    <option <%= data.model === 'semi-parametric' ? 'selected' : '' %> value="semi-parametric">Semi-parametric</option>
                    <option <%= data.model === 'weakly-parametric' ? 'selected' : '' %> value="weakly-parametric">Weakly-parametric</option>
                    <option <%= data.model === 'logistic-Weibull' ? 'selected' : '' %> <%= data.design === 1 ? 'disabled' : '' %> value="logistic-Weibull">Parametric</option>
                </select>
            </div>
        </div>
    </div>
    <div id="covariatesSet" class="fieldset well">
        <div id="mutex-error" class=""></div>
        <div id="Strata" class="form-group" <%= data.design !== 1 ? 'hidden' : '' %>>
            <div class="col-lg-4">
                <label class="control-label" for="strata-input">Strata <span class="text-danger">*</span></label> <a id="strataPopover" role="button" tabindex="0" class="glyphicon glyphicon-question-sign" aria-label="strata tooltip"></a>
            </div>
            <div class="col-lg-8">
                <select id="strata-input" name="strata" class="form-control" <%= data.csvFile.name ? '' : 'disabled' %> <%= data.design === 1 ? 'required' : '' %>>
                        <option value="">----Select Strata----</option>
                    <% for (var field of data.headers) { %>
                        <option <%= data.strata === field ? 'selected' : ''%>><%= field %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div id="Weight" class="form-group" <%= data.design !== 1 ? 'hidden' : '' %>>
            <div class="col-lg-4">
                <label class="control-label" for="weight-input">Weight <span class="text-danger">*</span></label> <a id="weightPopover" role="button" tabindex="0" class="glyphicon glyphicon-question-sign" aria-label="weight tooltip"></a>
            </div>
            <div class="col-lg-8">
                <select id="weight-input" name="weight" class="form-control" <%= data.csvFile.name ? '' : 'disabled' %> <%= data.design === 1 ? 'required' : '' %>>
                    <option value="">----Select Weight----</option>
                <% for (var field of data.headers) { %>
                    <option <%= data.strata === field ? 'selected' : ''%>><%= field %></option>
                <% } %>
                </select>
            </div>
        </div>
        <div id="outcomeC" class="form-group">
            <div class="col-lg-4">
                <label class="control-label" for="outcomeC-input">C <span class="text-danger">*</span></label> <a role="button" tabindex="0" class="outcomePopover glyphicon glyphicon-question-sign" aria-label="C tooltip"></a>
            </div>
            <div class="col-lg-8">
                <select id="outcomeC-input" name="outcomeC" class="form-control" required <%= data.csvFile.name ? '' : 'disabled' %>>
                    <option value="">----Select outcomeC----</option>
                    <% for (var outcome of data.headers) { %>
                        <option <%= data.outcomeC === outcome ? 'selected' : ''%>><%= outcome %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div id="outcomeL" class="form-group">
            <div class="col-lg-4">
                <label class="control-label" for="outcomeL-input">L <span class="text-danger">*</span></label> <a role="button" tabindex="0" class="outcomePopover glyphicon glyphicon-question-sign" aria-label="L tooltip"></a>
            </div>
            <div class="col-lg-8">
                <select id="outcomeL-input" name="outcomeL" class="form-control" required <%= data.csvFile.name ? '' : 'disabled' %>>
                    <option value="">----Select outcomeL----</option>
                    <% for (var outcome of data.headers) { %>
                        <option <%= data.outcomeL === outcome ? 'selected' : ''%>><%= outcome %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div id="outcomeR" class="form-group">
            <div class="col-lg-4">
                <label class="control-label" for="outcomeR-input">R <span class="text-danger">*</span></label> <a role="button" tabindex="0" class="outcomePopover glyphicon glyphicon-question-sign" aria-label="R tooltip"></a>
            </div>
            <div class="col-lg-8">
                <select id="outcomeR-input" name="outcomeR" class="form-control" required <%= data.csvFile.name ? '' : 'disabled' %>>
                    <option value="">----Select outcomeR----</option>
                    <% for (var outcome of data.headers) { %>
                        <option <%= data.outcomeR === outcome ? 'selected' : ''%>><%= outcome %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-4">
                <label class="control-label" for="covariates">Covariates</label> <a id="covariatePopover" role="button" tabindex="0" class="glyphicon glyphicon-question-sign" aria-label="covariates tooltip"></a>
            </div>
            <div id="selectized" class="col-lg-8">
                <input id="covariates" type="text" name="covariatesSelection" class="form-control" <%= data.csvFile.name ? '' : 'disabled' %>>
            </div>
        </div>
        <div id="covariates-error" class=""></div>
        <div id="categoricalGroups" class="form-group">
            <div class="col-lg-4">
                <label id="covariates-selectize-label" for="covariate-selectized">Covariates Select</label>
            </div>
            <div class="col-lg-8">
                <button id="referencesButton" class="btn btn-default form-control" disabled>Configure Covariates</button>
            </div>
        </div>
        <div id="effectsSet" class="form-group">
            <div class="col-lg-8 col-lg-offset-4">
                <button id="effectsButton" class="btn btn-default form-control" disabled>Edit Interactive Effects</button>
            </div>
        </div>
    </div>
    <div id="emailSet" class="fieldset well">
        <div class="form-group">
            <div id="jobQueueBox" class="checkbox col-sm-5 col-lg-7">
                <label class="control-label"><input type="checkbox" name="sendToQueue" <%= data.csvFile.name ? '' : 'disabled' %>
                    <%= data.sendToQueue ? 'checked' : '' %> <%= data.queueMandatory ? 'disabled' : '' %> style="position:static; margin-left:0"> Submit this job to a queue</label> <a id="queuePopover" role="button" tabindex="0" class="glyphicon glyphicon-question-sign" aria-label="send to queue tooltip"></a>
            </div>
            <div id="numMessages" class="col-sm-7 col-lg-5"></div>
        </div>
        <div id="email-error" class=""></div>
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label" for="email">Email</label> <a id="emailPopover" role="button" tabindex="0" class="glyphicon glyphicon-question-sign" aria-label="email tooltip"></a>
            </div>
            <div class="col-lg-9">
                <input id="email" type="text" name="email" class="form-control"  value="<%= data.email %>" <%= data.sendToQueue ? '' : 'disabled' %>
                <%= data.sendToQueue ? 'required' : ''%> >
            </div>
        </div>
        <div id="queueMessage">Note: if sending to queue, when computation is completed, a notification will be sent to the e-mail entered above.</div>
    </div>
    <div id="submitSet" class="fieldset form-group">
        <div class="col-lg-4 col-lg-offset-5">
            <button id="run" type="submit" class="btn btn-primary form-control" <%= data.csvFile.name ? '' : 'disabled' %> style="position: relative;">Submit</button>
        </div>
        <div class="col-lg-3">
            <button id="reset" type="reset" class="btn btn-default form-control" <%= data.csvFile.name ? '' : 'disabled' %>>Reset</button>
        </div>
    </div>
</form>
