<div id="help-page">
    <h1 class="text-center">PIMixture</h1>
    <div>
        <h3>1. Parametric, weakly-parametric, semiparametric</h3>
        <p>In PIMixture, logistic regression is used to model disease prevalence and proportional hazards models are used for disease incidence subject to interval-censoring; model parameters are then jointly estimated to account for disease where it is uncertain whether it is prevalent or incident.
            The PIMixture web tool provides multiple options for defining the baseline hazard of the proportional hazard model -- a fully parametric model that assumes a Weibull baseline hazard; a weakly-parametric model that uses integrated B-splines to model the baseline hazard; and a semi-parametric model.  Both the weakly-parametric model and the semiparametric model also supports stratified random sample.
        </p>
    </div>
    <div>
        <h3>2. Weighted and Unweighted Data</h3>
        <p>PIMixture provides two options for unweighted and weighted data. Specifically, unweighted data represents a simple random sample or an entire cohort; everyone of a simple random sample has an equal selection probability, so we don’t have to add sampling weight. Weighted data in PIMixture represents a stratified random sample, of which selection probabilities vary across strata and are the same within a stratum, and the selection probabilities are known. For weighted data analysis, users additionally specify two variables for strata and sampling weights (>=1). </p>

        <table class="table table-bordered">
            <thead>
            <legend>Table 1: Available options of PIMixture</legend>
            <tr>
                <th></th>
                <th>Parametric models</th>
                <th>Weakly-parametric models</th>
                <th>Semiparametric models</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Unweighted data (a simple random sample or a cohort)</th>
                <td>Available</td>
                <td>Available</td>
                <td>Available (standard error and confidence interval are not available)</td>
            </tr>
            <tr>
                <th>Weighted data (stratified random sample with known sample weights)</th>
                <td>Not available</td>
                <td>Available</td>
                <td>Available (standard error and confidence interval are not available)</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h3>3. Outcome variables: C, L and R</h3>
        <p>The outcome of interest is the time of clinically-detectable disease onset, and three variables for the outcome should be included in the input data: for simplicity, we define C=prevalence indicator, L=left time point, i.e. the latest time at which a subject is disease-free, R=right time point, i.e., the earliest time at which a subject is diagnosed with a disease. These variable names can be changed. In the webtool, users can choose which variables correspond to “C”, “L” and “R”. General coding rules are as following: </p>
        <ol>
            <li>
                C=1 if prevalent disease, C=0 if no prevalent disease, C=-999 if unknown status.  Note that even if disease status is not ascertained at the initial screen, a later screen that ascertains the absence of disease means we know there was no prevalent disease.
            </li>
            <li>
                L and R have values equal to or greater than 0 (any unit, such as day, month and year can be used); however, when C=1, L=R=-999.
            </li>
            <li>
                For right/interval censoring, L is smaller than R.
            </li>
            <li>
                For right censoring, R=Inf, where Inf means infinity, ∞.
            </li>
            <li>
                L should not be equal to R except when C=1 because PIMixture does not handle exact event time. However, if data includes exact event times, users can use a trick, adding a very small interval to the exact event times to define “L” and “R”.
            </li>
        </ol>
        <p>Note that examples and explanations are provided in the manual.</p>
    </div>
    <div>
        <h3>4. Predictors</h3>
        <p>In PIMixture, it is optional to include predictors in logistic and proportional hazards models. When included, relative risks are given in terms of odd ratios for prevalent disease and hazard ratios for incident disease. There are two options for predictors, continuous or categorical variables. Examples and explanations are provided in the manual.</p>
    </div>
    <div>
        <h3>5. Prediction</h3>
        <p>Based on the regression parameters and/or cumulative hazard function, we can predict prevalence and incidence using an independent data (called test data) including the predictors used for estimating the parameters and cumulative hazard function. For prediction, users need to upload fitted model, test data and input time points. When time point=0, predicted probabilities mean the prevalence of subgroups characterized by specific predictors; when time point=t>0, predicted cumulative risk up to time t includes prevalence too. Test data should include the same variables used for fitting the model.</p>
    </div>

</div>