<% if (data.results) { %>
    <div class="panel panel-default">
        <div id="prediction-results" class="panel-body">
            <div class="download-buttons row">
                <div class="col-md-8">
                    Show
                    <select id="pageSize" name="pageSize">
                        <% for(var pageSize of data.pageSizeChoices) { %>
                            <option value="<%= pageSize %>" <%= pageSize == data.pageSize ? 'selected' : '' %> ><%= pageSize %></option>
                        <% } %>
                    </select>
                    entries of <%= data.results.prediction.length %>
                    <a class="pageNav <%= data.pageNum <= 1 ? 'disabledPageNav' : '' %>" <%= data.pageNum <= 1 ? 'disabled' : '' %>><span data-page-num="<%= 1 %>" class="glyphicon glyphicon-step-backward"></span></a>
                    <a class="pageNav <%= data.pageNum <= 1 ? 'disabledPageNav' : '' %>" <%= data.pageNum <= 1 ? 'disabled' : '' %>><span data-page-num="<%= data.pageNum -1 %>" class="glyphicon glyphicon-chevron-left"></span></a>
                    <% for (var page of data.neighborPages) { %>
                        <% if (page === data.pageNum) { %>
                            <span class="pageNav" id="currentPageNum" > <%= page %> </span>
                        <% } else {%>
                            <a class="pageNav" data-page-num="<%= page %>"> <%= page %> </a>
                        <% } %>
                    <% } %>
                    <a class="pageNav <%= data.pageNum >= data.pages ? 'disabledPageNav' : '' %>" <%= data.pageNum >= data.pages ? 'disabled' : '' %>><span data-page-num="<%= data.pageNum +1 %>" class="glyphicon glyphicon-chevron-right"></span></a>
                    <a class="pageNav <%= data.pageNum >= data.pages ? 'disabledPageNav' : '' %>" <%= data.pageNum >= data.pages ? 'disabled' : '' %>><span data-page-num="<%= data.pages %>" class="glyphicon glyphicon-step-forward"></span></a>
                </div>
                <div class="col-md-4 text-right">
                    <a href="<%= data.results.csvFile %>" class="btn btn-success" download="PIMixturePredictionResults">Download result (.csv) file</a>
                </div>
            </div>
            <div id="predictionResultTable">
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>Time Point</th>
                        <th>cox.predictor</th>
                        <th>logit.predictor</th>
                        <th>CR</th>
                    </tr>
                    </thead>
                    <tbody id="predictionResultTbody">
                    <% for (var i = data.start; i < data.end; ++i) {
                    var res = data.results.prediction[i];
                    %>
                    <tr>
                        <td><%= res.time %><br/></td>
                        <td><%= res['cox.predictor'] %><br/></td>
                        <td><%= res['logit.predictor']%><br/></td>
                        <td><%= res.CR %><br/></td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<% } else { %>
    <p>Upload your model file and provide prediction configuration on the left panel. The results will be displayed here once you click on Submit button.</p>
<% } %>
