<div class="container-fluid">
    <form class="form-horizontal">
        <table id="covariatesTable" class="table table-condensed">
            <thead>
            <tr>
                <th style="width:30%;">Covariate</th>
                <th style="width:35%;">Variable Type</th>
                <th style="width:35%; text-align: left">Reference Level</th>
            </tr>
            </thead>
            <tbody>
            <%  _.each(covariatesArr, function(entry) {
            var values = uniqueValues[entry.text].values();
            %>
            <tr>
                <td style="vertical-align: middle;"><%= entry.text %></td>
                <td>
                    <select name="<%=entry.text%>_type" class="form-control">
                        <option value="">----Select Type----</option>
                        <option value="continuous" <%=entry.type=='continuous'?' selected="selected"':''%>>Continuous</option>
                        <option value="nominal" <%=entry.type=='nominal'?' selected="selected"':''%>>Categorical</option>
                    </select>
                </td>
                <td>
                        <input type="number" id="<%=entry.text%>_category_text" name="<%=entry.text%>_category"
                               value="<%= entry.category %>" <%= entry.type == 'nominal' ? 'hidden' : 'class="form-control"' %> />
                        <select id="<%=entry.text%>_category_select" name="<%=entry.text%>_category"
                        <%= entry.type != 'nominal' ? 'hidden' : 'class="form-control"' %>>
                        <option value="">----Select----</option>
                        <% for (let value of values) { %>
                        <option value="<%= value %>" <%= value === entry.category ? 'selected' : '' %>><%= value %></option>
                        <% } %>
                        </select>
                </td>
            </tr>
            <%  }); %>
            </tbody>
        </table>
    </form>
</div>
